.wmde-markdown h1,
.wmde-markdown h2,
.wmde-markdown h3,
.wmde-markdown h4,
.wmde-markdown h5,
.wmde-markdown h6 {
    scroll-margin-top: 80px;
}

.wmde-markdown h1,
.wmde-markdown h2,
.wmde-markdown h3 {
    text-decoration: none;
    border-bottom: none;
}